# Ignore everything in the repo
*

# Keep the compose.yaml files in the directories
!/.gitignore
!/*/
!/*/compose.yaml

# Also keep the specified files
!/servarr/bazarr
!/servarr/bazarr/config
!/servarr/bazarr/config/**
!/servarr/qbittorrent
!/servarr/qbittorrent/qBittorrent
!/servarr/qbittorrent/qBittorrent/categories.json
!/servarr/qbittorrent/qBittorrent/qBittorrent-data.json
!/servarr/qbittorrent/qBittorrent/qBittorrent.json
!/servarr/jellyseerr
!/servarr/jellyseerr/settings.json
!/servarr/lidarr
!/servarr/lidarr/config.xml
!/servarr/prowlarr
!/servarr/prowlarr/config.xml
!/servarr/radarr
!/servarr/radarr/config.xml
!/servarr/sonarr
!/servarr/sonarr/config.xml
!/servarr/readarr
!/servarr/readarr/config.xml

!/immich/**
/immich/db-password.txt

!/jellyfin/config
!/jellyfin/config/data
!/jellyfin/config/data/.jellyfin-data
!/jellyfin/config/data/plugins
!/jellyfin/config/data/plugins/**
!/jellyfin/config/data/root
!/jellyfin/config/data/root/**
!/jellyfin/config/*.xml
!/jellyfin/config/.jellyfin-config

!/home-assistant
!/home-assistant/config
!/home-assistant/config/configuration.yaml
!/home-assistant/config/automations.yaml
!/home-assistant/config/scenes.yaml
!/home-assistant/config/scripts.yaml
!/home-assistant/config/blueprints
!/home-assistant/config/blueprints/**

!/pihole/
!/pihole/compose.yaml
!/pihole/unbound
!/pihole/unbound/**
!/pihole/pihole
!/pihole/pihole/adlists.list
!/pihole/pihole/dnsmasq.conf
!/pihole/pihole/pihole.toml
