# Ignore everything in the repo
*

# Keep the compose.yaml files in the directories
!/.gitignore
!/*/
!/*/compose.yaml

# Also keep the specified files
!/servarr
!/servarr/bazarr
!/servarr/bazarr/config
!/servarr/bazarr/config/**
!/servarr/qbittorrent
!/servarr/qbittorrent/qBittorrent
!/servarr/qbittorrent/qBittorrent/categories.json
!/servarr/qbittorrent/qBittorrent/qBittorrent-data.json
!/servarr/qbittorrent/qBittorrent/qBittorrent.json
!/servarr/jellyseerr
!/servarr/jellyseerr/settings.json
!/servarr/lidarr
!/servarr/lidarr/config.xml
!/servarr/prowlarr
!/servarr/prowlarr/config.xml
!/servarr/radarr
!/servarr/radarr/config.xml
!/servarr/sonarr
!/servarr/sonarr/config.xml
!/servarr/readarr
!/servarr/readarr/config.xml

!/immich/**
/immich/db-password.txt
!/jellyfin/**
/jellyfin/config/cache
/jellyfin/config/cache/**
/jellyfin/config/.cache
/jellyfin/config/.cache/**
/jellyfin/config/log
/jellyfin/config/log/**
!/beszel-hub/**
!/audiobookshelf/**
!/navidrome/**
!/home-assistant/**
!/pihole/**
/pihole/web-password.txt
