name: netbird

services:
  netbird:
    container_name: netbird
    hostname: proxy-stack
    cap_add:
        - NET_ADMIN
        - SYS_ADMIN
        - SYS_RESOURCE
    network_mode: host
    environment:
        - NB_SETUP_KEY=0D93D012-E113-450B-8DCE-E5F452E83E37
    volumes:
        - netbird-client:/var/lib/netbird
    image: netbirdio/netbird:latest

volumes:
  netbird-client:
      name: netbird-client
